<footer class="contenedor listado-footer">

    <div class="footer logo-footer">

        <img class="logo2 menu-logo2" src="../../../assets/recursos/Logo2.jpeg" alt="Logo route 99">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

    <div class="footer">

        <h3 class="">Sitio</h3>

        <nav class="menu-footer">

            <a [routerLink]="['/home']">Inicio</a>
            <a [routerLink]="['/conocenos']">Conocenos</a>
            <a [routerLink]="['/menu']">Menu</a>
            <a [routerLink]="['/promociones']">Promociones</a>
            <a [routerLink]="['/contacto']">Contacto</a>


        </nav>

    </div>

    <div class="footer">

        <h3>Información</h3>
        <p>Horario</p>
        <p>Martes - Jueves y Domingos</p>
        <p>05:00<span>PM</span>span>a 10:00 <span>PM</span></p>
        <p>Viernes y Sabados</p>
        <p>05:00 <span>PM</span>a 12:00 <span>AM</span>span></p>

    </div>

    <div class="footer">

        <div class="cont-dom-sig">

            <div class="estilo-domicilio">

                <h3>Domicilios</h3>

                <div class="cont-dom">

                    <div class="cont-logo">

                        <a href=""><img src="../../../assets/recursos/ifoodCo.png" alt=""></a>
                        <a href="" class="logo-hover"><img src="../../../assets/recursos/ifoodBl.png" alt=""></a>

                    </div>

                    <div class="cont-logo">

                        <a href=""><img src="../../../assets/recursos/domiCo.png" alt=""></a>
                        <a href="" class="logo-hover"><img src="../../../assets/recursos/domiBl.png" alt=""></a>

                    </div>

                    <div class="cont-logo">

                        <a href=""><img src="../../../assets/recursos/whatsappCo.png" alt=""></a>
                        <a href="" class="logo-hover"><img src="../../../assets/recursos/whatsappBl.png" alt=""></a>

                    </div>

                </div>

            </div>

            <div class="estilo-domicilio">

                <h3>Siguenos</h3>

                <div class="cont-dom centrar">

                    <div class="cont-logo">

                        <a href=""><img src="../../../assets/recursos/facebookCo.png" alt=""></a>
                        <a href="" class="logo-hover"><img src="../../../assets/recursos/facebookBl.png" alt=""></a>

                    </div>

                    <div class="cont-logo">

                        <a href=""><img src="../../../assets/recursos/instagramCo.png" alt=""></a>
                        <a href="" class="logo-hover"><img src="../../../assets/recursos/instagramBl.png" alt=""></a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>