<main class="contenedor">

    <div class="contenedor-cont-map">

        <div class="contacto">

            <h2>Contacto y cotizaciones</h2>

            <form class="" name="frmcorreo" method="post" action="enviarcorreo.php">

                <div class="contenedor-campos">

                    <div class="campo">

                        <label>Nombre Completo.</label>
                        <input type="text" name="nombre" placeholder="Nombre Completo">

                    </div>
                    <!--campo-->

                    <div class="campo">

                        <label>Correo Electronico.</label>
                        <input type="mail" name="mail" placeholder="Correo Electronico">

                    </div>
                    <!--campo-->

                    <div class="campo">

                        <label>Numero de contacto.</label>
                        <input type="tel" name="telefono" placeholder="Numero Telefonico">

                    </div>
                    <!--campo-->

                    <div class="campo">

                        <label>Mensaje.</label>
                        <textarea placeholder="Escribenos..."></textarea>

                    </div>
                    <!--campo-->

                </div>
                <!--contenedor-campo-->

                <div class="btnenviar">

                    <input class="boton" type="submit" value="Enviar">

                </div>
                <!--btnenviar-->

            </form>

        </div>
        <!--contacto-->

        <div id="mapa" class="mapa">


        </div>
        <!--mapa-->

    </div>
    <!--contenedor-cont-map-->

</main>