<main class="contenedor">

    <div class="conocenos">

        <div class="pizzeria">

            <div class="cont-cono">

                <h2>Nuestra receta</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

            </div>
            <!--cont-cono-->

            <div class="cont-img">

                <img class="imagenes-con" src="../../../assets/recursos/route.jpg" alt="Imagenes conocenos">

            </div>
            <!--cont-img-->

        </div>
        <!--pizzeria-->

        <div class="pizzeria">

            <div class="cont-cono">

                <h2>Misión</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

            </div>
            <!--cont-cono-->

            <div class="cont-img">

                <img class="imagenes-con" src="../../../assets/recursos/mision.jpg" alt="Imagenes conocenos">

            </div>
            <!--cont-img-->

        </div>
        <!--mision-->

        <div class="pizzeria">

            <div class="cont-cono">

                <h2>Visión</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

            </div>
            <!--cont-cono-->

            <div class="cont-img">

                <img class="imagenes-con" src="../../../assets/recursos/vision.jpg" alt="Imagenes conocenos">

            </div>
            <!--cont-img-->

        </div>
        <!--vision-->

    </div>
    <!--conocenos-->

</main>