<section class="contenedor">

    <h2 class="tituloMenu">Nuestras Pizzas</h2>
    <p class="pMenu">Tenemos una gran variedad de pizzas para ....Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident accusamus fugiat blanditiis quae consequuntur, deserunt sint labore pariatur obcaecati neque sunt molestiae, cum voluptatum ratione cumque
        distinctio ut at dolore!</p>

    <div class="menuPizza">
        <div class="pizzaBasica">
            <h3>Pizza Basica</h3>
            <p>1 Ingrediente - 6 Porciones (30 Cm)</p>

            <div class="precios">
                <div class="mediana tamaño">
                    <p>Mediana</p>
                    <p>$16.500</p>
                </div>
                <div class="grande tamaño">
                    <p>Grande</p>
                    <p>$21.500</p>
                </div>
                <div class="extraGrande tamaño">
                    <p>Extragrande</p>
                    <p>$25.500</p>
                </div>
            </div>

            <div class="pizzas">

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Hawaiana</h2>
                        <p class="descripcion">Jamon, Piña y Queso.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Napolitana</h2>
                        <p class="descripcion">Tomate y Orégano.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Pollo BBQ</h2>
                        <p class="descripcion">Pollo en salsa BBQ.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Carne BBQ</h2>
                        <p class="descripcion">Carne en salsa BBQ.</p>

                    </div>
                    <!--contenido-->

                </div>
            </div>
        </div>
        <div class="pizzaTradicional">
            <h3>Pizza Tradicional</h3>
            <p>2-4 Ingredientes - 8 Porciones (36 Cm)</p>

            <div class="precios">
                <div class="mediana tamaño">
                    <p>Mediana</p>
                    <p>$24.000</p>
                </div>
                <div class="grande tamaño">
                    <p>Grande</p>
                    <p>$29.000</p>
                </div>
                <div class="extraGrande tamaño">
                    <p>Extragrande</p>
                    <p>$34.000</p>
                </div>
            </div>

            <div class="pizzas">

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Hawaianachick</h2>
                        <p class="descripcion">Pollo, piña, tocineta y salsa BBQ.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Vegetariana</h2>
                        <p class="descripcion">Tómate, champiñón, pimentón y cébolla.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Caribeña</h2>
                        <p class="descripcion">Pepperoni, piña y extraqueso.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">BBQ</h2>
                        <p class="descripcion">Pollo, maiz, tocineta, cebolla y salsa BBQ.</p>

                    </div>
                    <!--contenido-->
                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Colombiana</h2>
                        <p class="descripcion">Chorizo, maíz, tocienta y cebolla.</p>

                    </div>
                    <!--contenido-->
                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Pollo & Champiñones</h2>
                        <p class="descripcion">Pollo, champiñones y extraqueso.</p>

                    </div>
                    <!--contenido-->
                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Fire</h2>
                        <p class="descripcion">Pepperoni, jalapeños y extraqueso.</p>

                    </div>
                    <!--contenido-->
                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Tropical</h2>
                        <p class="descripcion">Jamon, piña, tocineta y jalapeños.</p>

                    </div>
                    <!--contenido-->
                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">4 Quesos</h2>
                        <p class="descripcion">Mozarella, cheddar, costeño y parmesano.</p>

                    </div>
                    <!--contenido-->
                </div>

            </div>
        </div>
        <div class="pizzaPremium">

            <h3>Pizza Premium</h3>
            <p>5 Ingredientes - 12 Porciones (40 Cm)</p>

            <div class="precios">
                <div class="mediana tamaño">
                    <p>Mediana</p>
                    <p>$27.000</p>
                </div>
                <div class="grande tamaño">
                    <p>Grande</p>
                    <p>$34.000</p>
                </div>
                <div class="extraGrande tamaño">
                    <p>Extragrande</p>
                    <p>$38.000</p>
                </div>
            </div>

            <div class="pizzas">

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Paisa</h2>
                        <p class="descripcion">Maíz, chicharrón, chorizo, monedas de plátano, guacamole y cebolla.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Méxicana</h2>
                        <p class="descripcion">Maíz, carne desnechada, jalapeño, guacamole y cebolla.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Italiana</h2>
                        <p class="descripcion">Salami, pepperoni, chorizo, tómate, champiñón y pimentón.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Extravaganza</h2>
                        <p class="descripcion">Pepperoni, jamón, cabolla, champiñón, pimentón, chorizo y carne desmechada.</p>

                    </div>
                    <!--contenido-->

                </div>

                <div class="promociones tamañoDivMenu">

                    <img class="imagenes redonda" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

                    <div class="contenido centrar">

                        <h2 class="titulo">Todo Carnes</h2>
                        <p class="descripcion">Peperoni, salami, pollo, chicharrón, tocineta, chorizo, carne desmechada.</p>

                    </div>
                    <!--contenido-->

                </div>

            </div>

        </div>
        <div class="armala">

        </div>
    </div>

</section>