<main class="contenedor">
    <!--Slider de imagenes-->

    <h1>Las 3 pizzas favoritas</h1>

    <div class="lista-productos">

        <div class="producto">

            <img class="imagenes" src="../../../assets/recursos/pizza4.jpg" alt="Pizza Todo Carnes">

            <div class="contenido">

                <h2 class="titulo">Pizza Todo Carnes</h2>
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
            <!--contenido-->

        </div>
        <!--producto-->

        <div class="producto">

            <img class="imagenes" src="../../../assets/recursos/pizza5.jpg" alt="Pizza Hawaianchick">

            <div class="contenido">

                <h2 class="titulo">Pizza Hawaianchick</h2>
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
            <!--contenido-->

        </div>
        <!--producto-->

        <div class="producto">

            <img class="imagenes" src="../../../assets/recursos/pizza7.jpg" alt="Pizza Pollo BBQ">

            <div class="contenido">

                <h2 class="titulo">Pizza Pollo BBQ</h2>
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
            <!--contenido-->

        </div>
        <!--producto-->

    </div>
    <!--lista-productos-->

</main>